body{    
    background-repeat:no-repeat;
    background-image: url("E:/photos/others/j.jpg");
}
.login{
    background: transparent;
    padding: 10px 50px 50px 50px;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid black ;
    width: 420px;
    height: 400px;
    backdrop-filter: blur(20px);
}
form .name{
    display: flex;
    font-size: 25px;
    color: white;
    padding: 20px;
    background:transparent;
    word-spacing: 30px;
    flex-grow: 2;
}
.name input{
    width: 370px;
    height:40px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    background: transparent;
    color: white;
    outline: none;
    transition: 0.5s;
}
.name input:valid,
.name input:focus{
    box-shadow: 0 0 20px wheat;
    border-color: goldenrod;
    transform: translateY(-10px);
}
.pass{
    padding: 0px;
    color: aliceblue;
    background:transparent;
    word-spacing: 150px;
    padding: 20px;
}
.pass input{
    width: 370px;
    height:40px;
    position: relative;
    background: transparent;
    outline: none;
    transition: 0.5s;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
.pass input:valid,
.pass input:focus{
    box-shadow: 0 0 20px wheat;
    border-color: goldenrod;
    transform: translateY(-10px);
}
.email{
    padding: 20px ;
    background:transparent;
    outline: none;
    word-spacing: 150px;
    color: aliceblue;
}
.email input{
    flex-grow: 1;
    width: 370px;
    height:40px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    background: transparent;
    transition: 0.5s;
    color: white;
    outline: none;
}
.email input:valid,
.email input:focus{
    box-shadow: 0 0 20px wheat;
    border-color: goldenrod;
    transform: translateY(-10px);
}
.button button{
    color: black;
    cursor: pointer;
    width: 140px;
    height: 50px;
    position: relative;
    font-size: 20px;
    top: 20px;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(203, 158, 120);
    letter-spacing: 2px;
}
.button button:hover{
    box-shadow: 0px 0px 25px black;
}
.fp {
    display: flex;
    font-size: 20px;
    justify-content:space-between;
}
.fp a{
    display: flex;
    position: relative;
    left: 50px;
    color: mediumspringgreen;
    font-size: 20px;
    font-weight: 500;
}