body{
    background-repeat: no-repeat;
    background-image: url("back.jpg");
    background-size:100% 200%;
    background-color: aqua;
}
u h1 {
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.login {
    background: transparent;
    padding: 10px 50px 10px 50px;
    flex-direction: column;
    border-radius: 20px;
    margin: 10px;
    border: 1px solid black;
    width: 420px;
    height: 500px;
    backdrop-filter: blur(20px);
}
.login i{
    width: 40px;
    position: relative;
    top: 15px;
}
form .name {
    display: flex;
    font-size: 25px;
    color: black;
    padding: 20px;
    background: transparent;
    word-spacing: 30px;
}
.name p i{
position: relative;
   bottom: 40px;
}
.name input {
    width: 370px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    background: transparent;
    color: black;
    outline: none;
    transition: 0.5s;
}
.name input:valid,
.name input:focus {
    box-shadow: 0 0 20px violet;
    border-color: violet;
    transform: translateY(-10px);
}

.pass {
    display: flex;
    background: transparent;
    word-spacing: 150px;
    padding: 20px;
}

.pass input {
    width: 370px;
    height: 40px;
    position: relative;
    background: transparent;
    outline: none;
    transition: 0.5s;
    font-size: 20px;
    color: black;
    border-radius: 10px;
}
.pass input:valid,
.pass input:focus {
    box-shadow: 0 0 20px violet;
    border-color: violet;
    transform: translateY(-10px);
}
.email {
    display: flex;
    padding: 20px;
    background: transparent;
    outline: none;
    word-spacing: 150px;
}
.email input {
    width: 370px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    background: transparent;
    transition: 0.5s;
    color: black;
    outline: none;
}
.email input:valid,
.email input:focus {
    box-shadow: 0 0 20px violet;
    border-color: violet;
    transform: translateY(-10px);
}
.button button {
    color: black;
    cursor: pointer;
    width: 140px;
    height: 50px;
    position: relative;
    font-size: 20px;
    top: 20px;
    font-weight: 700;
    border: 1px solid blueviolet;
    border-radius: 20px;
    background-color: rgba(137, 43, 226, 0.502);
    letter-spacing: 2px;
}
.button button:hover {
    box-shadow: 0px 0px 25px black;
}
.fp {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}
.fp a {
    display: flex;
    position: relative;
    left: 50px;
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 900;
}