body{    
    background-image: url("https://wallpapercave.com/wp/wp8106839.jpg");
    background-repeat:no-repeat;
    background-image: url("https://cdn2.unrealengine.com/what-is-discord-1920x1080-c3d90ca45f57.jpg");
}
.login{
    
    background: transparent;
    padding: 10px 10px 10px ;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid black ;
    width: 420px;
    height: 400px;
    backdrop-filter: blur(20px);
}
form .name{
    display: flex;
    font-size: 25px;
    color: beige;
    padding: 20px;
    background:transparent;
    word-spacing: 30px;
    flex-grow: 2;
}
.name input{
    width: 370px;
    height:30px;
    border-radius: 10px;
    position: relative;
    background: transparent;
    color: rgb(60, 63, 66);
    outline: none;
    transition: 0.5s;
}
.name input:valid,
.name input:focus{
    border-color:rgb(94, 94, 158);
    transform: translateY(-10px);
}
.pass{
    padding: 0px;
    color: aliceblue;
    background:transparent;
    word-spacing: 150px;
    padding: 20px;
}
.pass input{
    width: 370px;
    height:30px;
    position: relative;
    background: transparent;
    outline: none;
    transition: 0.5s;
    border-radius: 10px;
}
.pass input:valid,
.pass input:focus{
    border-color:rgb(85, 85, 143);
    transform: translateY(-10px);
}
.email{
    padding: 20px ;
    background:transparent;
    outline: none;
    word-spacing: 150px;
    color: aliceblue;
}
.email input{
    flex-grow: 1;
    width: 370px;
    height:30px;
    border-radius: 10px;
    position: relative;
    background: transparent;
    transition: 0.5s;
    color: rgb(16, 24, 32);
    outline: none;
}
.email input:valid,
.email input:focus{
    border-color:rgb(108, 108, 197);
    transform: translateY(-10px);
}
.button button{
    color: rgb(4, 4, 4);
    cursor: pointer;
    width: 140px;
    height: 50px;
    position: relative;
    top: 10px;
    border-radius: 20px;
    background-color: rgb(89, 104, 104);
    border-color: none;
    letter-spacing: 2px;
}
.button button:hover{
    box-shadow: 0px 0px 20px blue;

}
.fp {
    display: flex;
    justify-content:space-between;
}

