*{
    margin: 0;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
background-color: rgb(118, 113, 107);
}

.logo img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
.naruto{
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px 10px 60px;
    border-bottom: 1px solid rgb(215, 203, 203);
    flex-wrap: wrap;
}
.search-box{
    display: flex;
    flex-grow: 1;
    transition: 5s ease;
}
form{
   border-radius:30px;
   width: 600px;
   height: 45px;
    margin: 200px auto;
    display: flex;
   justify-content: center;
   border-color: rgb(30, 4, 4);
    padding: 7px;
}
form .se-box{
   border-radius: 10px;
   background-color: rgb(236, 238, 238);
   outline: transparent;
   box-shadow: 10px 10px 10px rgb(163, 145, 145);
   font-size: 20px;
    border: none;
    color: rgb(62, 75, 75);
    font-family:serif;
    flex-grow: 1;
    transition: .5s ease;
}
form .se-box:focus,
form .se-box:hover{
    border: 3px solid rgb(72, 0, 255);
}
form .se button{
    padding: 8px;
   border-radius: 10px;
   outline: none;
    position: relative;
    right: 42px;
   color: #907575;
    size: 10px;
   letter-spacing: 1px;
   cursor: pointer;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    border: none;
}
.hav:hover{
    background-color: rgb(76, 77, 75);
}
.photo .naru{
    width: 250px;
    height: 250px;
    padding: 50px 50px 50px;
    background-color: rgb(223, 208, 181);
}
.photo .bc{
    width: 250px;
    height: 250px;
    padding: 50px 50px 50px;
    border-radius: 90px;
    background-color: rgb(211, 198, 174);
}
.photo .aot{
    width: 250px;
    height: 250px;
    padding: 50px 50px 50px;
    border-radius: 90px;
    background-color: rgb(216, 200, 171);
}
.photo .bl{
    width: 250px;
    height: 250px;
    padding: 50px 50px 50px;
    border-radius: 90px;
    background-color: rgb(224, 205, 168);
}